.light-effect {
  position: absolute;
  width: 300px; 
  height: 300px; 
  border-radius:50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 40%);
  filter: blur(50px);
  will-change: filter;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  transition: transform 0.1s ease-out;
  mix-blend-mode: screen;
   z-index: 999;
}